#       $OpenBSD: sshd_config,v 1.80 2008/07/02 02:24:31 djm Exp $

# This is the sshd server system-wide configuration file.
# See sshd_config(5) for more information.

# The strategy used for options in the default sshd_config shipped with
# OpenSSH is to specify options with their default value where
# possible, but leave them commented. Uncommented options change a
# default value.

# Port 22 - Aktiv edilmiş durumda
Port 22

# Disable legacy (protocol version 1) support in the server for new
# installations. In future the default will change to require explicit
# activation of protocol 1
Protocol 2

# HostKey for protocol version 1
# HostKey /etc/ssh/ssh_host_key
# HostKeys for protocol version 2
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_dsa_key

# Logging
SyslogFacility AUTHPRIV
LogLevel INFO

# Authentication:
PermitRootLogin yes  # Root kullanıcı için şifreyle girişe izin ver
LoginGraceTime 2m
StrictModes yes
MaxAuthTries 6
MaxSessions 10

# RSAAuthentication yes
PubkeyAuthentication yes
AuthorizedKeysFile     .ssh/authorized_keys

# To disable tunneled clear text passwords, change to no here!
PasswordAuthentication yes  # Şifreli kimlik doğrulamasına izin ver
PermitEmptyPasswords no
ChallengeResponseAuthentication no  # ChallengeResponseAuthentication devre dışı

# GSSAPI options
GSSAPIAuthentication no  # GSSAPI'yi devre dışı bırak
GSSAPICleanupCredentials no

# PAM options
UsePAM yes  # PAM kullanımına izin ver

# Accept locale-related environment variables
AcceptEnv LANG LC_CTYPE LC_NUMERIC LC_TIME LC_COLLATE LC_MONETARY LC_MESSAGES
AcceptEnv LC_PAPER LC_NAME LC_ADDRESS LC_TELEPHONE LC_MEASUREMENT
AcceptEnv LC_IDENTIFICATION LC_ALL LANGUAGE
AcceptEnv XMODIFIERS

# AllowAgentForwarding yes
AllowTcpForwarding yes  # TCP forwarding'e izin ver
GatewayPorts no
X11Forwarding yes  # X11 forwarding'e izin ver
X11DisplayOffset 10
X11UseLocalhost yes

# Subsystem (SFTP desteği)
Subsystem       sftp    /usr/libexec/openssh/sftp-server

# Example of overriding settings on a per-user basis
# Match User anoncvs
#   X11Forwarding no
#   AllowTcpForwarding no
#   ForceCommand cvs server
